html {
  font-size: 100px;
}
html,body {
}
#app {
}
button {
  border: none;
}
a {
  text-decoration: none;
}

 ul {
   margin: 0;
   padding: 0;
 }
li {
  list-style: none;
}

svg {
  display: inline-block;
  height: .2rem;
  width: .2rem;
}
