html {
  font-size: 10px;
}
html,body {
}
#app {
}
button {
  border: none;
}
a {
  text-decoration: none;
}

 ul {
   margin: 0;
   padding: 0;
 }
li {
  list-style: none;
}

svg {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

@keyframes fadeIn {
  from {
    top: 300px;
    opacity: 0;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeLeft {
  from {
    left: -1000px;
    opacity: 0;
  }

  to {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeRight {
  from {
    right: -1000px;
  }
  to {
    right: 0;
  }
}

@keyframes fadeUp {
  from {
    bottom: -1000px;
  }
  to {
    bottom: 0;
  }
}

@keyframes rightIn {
  from {
    left: 1000px;
  }
  to {
    left: 0px;
  }
}

@keyframes leftIn {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}
